@import "tailwindcss";


.icons {
  content: "";
  background: url(../public/sprites.png) no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 44px;
  height: 44px;
}

.icon-user {
  background-position: -474px -770px;
  transform: scale(1.1);
}

.icon-dashboard {
  background-position: 6px -894px;
}

.icon-language {
  background-position: -114px -954px;
}

.icon-logout {
  background-position: -234px -954px;
}

.icon-update-info {
  background-position: -294px -894px;
}

.icon-notifications {
  background-position: -174px -1132px;
}

.icon-service-guide {
  background-position: -534px -954px;
}

.icon-sabaq {
  background-position: -53px -645px;
}

/* Announcement marquee animation */
@keyframes announcement-marquee-rtl {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(51%);
  }
}

@keyframes announcement-marquee-ltr {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-51%);
  }
}

.announcement-marquee {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
}

.announcement-marquee span {
  display: inline-block;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.announcement-marquee[data-direction="rtl"] span {
  animation-name: announcement-marquee-rtl;
  padding-right: 100%;
}

.announcement-marquee[data-direction="ltr"] span {
  animation-name: announcement-marquee-ltr;
  padding-left: 100%;
}
