@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.icons {
  content: "";
  background: url(../public/sprites.png) no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 44px;
  height: 44px;
}

.icon-user {
  background-position: -474px -770px;
  transform: scale(1.1);
}

.icon-dashboard {
  background-position: 6px -894px;
}

.icon-language {
  background-position: -114px -954px;
}

.icon-logout {
  background-position: -234px -954px;
}

.icon-update-info {
  background-position: -294px -894px;
}

.icon-notifications {
  background-position: -174px -1132px;
}

.icon-service-guide {
  background-position: -534px -954px;
}
